.header-bck{
	height: 30px;
	line-height: 30px;
	color: #999;
	border-bottom: 1px solid #ddd;
	background: #E3E4E5;
}

.header-bck li{
	float: left;
}

.header{
	width: 1190px;
	height: 30px;
	margin: auto;
	height: 30px;
	line-height: 30px;
}

.header .addr{
	position: relative;
}

.header .addr:hover .addr-list{
	display: block;
}

.header .addr .addr-list{
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 10;
	width: 300px;
	/*height: 300px;*/
	overflow: hidden;
	padding: 10px;
	line-height: 24px;
	background: #fff;
}

.addr-item{
	width: 60px;
	float: left;
	padding: 2px 0;
	text-align: center;
}

.addr-item:hover{
	background: #F4F4F4;
}

.addr-item:hover a{
	color: #E32F2F;
}

.addr-item a{
	padding: 0 8px;
	color: #999;
	text-align: center;
}

.header-left .addr-pic img{
	height: 14px;
	width: 14px;
	display: inline-block;
	vertical-align: middle;
}

.header-addr, .header-addr .addr{
	float: left;
}

.header-addr .addr>div{
	/*float: left;*/
	display: inline-block;
}

.header-addr .addr{
	margin-left: 200px;
	padding: 0 8px;
}

.header-addr .addr:hover{
	background: #fff;
}

.header-addr .addr .addr-pic{
	position: relative;
	top: -1px;
}

.header-right{
	float: right;
}

.header-right .item{
	float: left;
	
}

.header-right .bar{
	margin: 11px 5px 0;
	float: left;
	width: 1px;
	height: 10px;
	background: #ccc;
	/*background: red;*/
}

.header-right .item .register{
	color: #f10215;
}

.header-right .item .register:hover{
	opacity: 0.8;
}

.header-right .item .login:hover{
	color: #f10215;
}

.header-right .log{
	margin-right: 8px;
}

.header-right .item-in{
	padding-right: 7px;
	padding-left: 7px;
}

.header-right .item>.down{
	height: 30px;
	padding-right: 20px;
	/*border: 1px solid #e3e4e5;*/
}

.header-right .down:hover{
	background: #fff;
}

.header-right li>div{
	position: relative;
}

.mjd{
	position: relative;
}

.mjd .iconfont{
	position: absolute;
    right: 10px;
    top: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 24px;
    font-style: normal;
}

.comp .iconfont{
	position: absolute;
    right: 10px;
    top: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 24px;
    font-style: normal;
}
.cust .iconfont{
	position: absolute;
    right: 10px;
    top: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 24px;
    font-style: normal;
}
.wnav .iconfont{
	position: absolute;
    right: 10px;
    top: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 24px;
    font-style: normal;
}
.header .mjd:hover .mjd-con{
	display: block;
}

.header .comp:hover .comp-con{
	display: block;
}

.header .cust:hover .cust-con{
	display: block;
}

.header .wnav:hover .wnav-con{
	display: block;
}

.header .mobj:hover .mobj-con{
	display: block;
}

.mjd-con{
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 10;
	width: 280px;
	/*height: 500px;*/
	background: #fff;
}

.down>div a{
	color: #999;
}

.down>div a:hover{
	color: #E32F2F;
}

.down>div>div{
	padding: 10px 0 10px 15px;
	overflow: hidden;
	line-height: 24px;
	color: #999;
}

.down>div .left, .down>div .right{
	width: 126px;
	float: left;
}

.down>div .con-btm{
	border-top: 1px solid #f1f1f1;
}

.comp-con{
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 10;
	width: 280px;
	/*height: 500px;*/
	background: #fff;
}

.cust-con{
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 10;
	width: 280px;
	/*height: 500px;*/
	background: #fff;
}

.wnav-con{
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 12;
	width: 280px;
	/*height: 500px;*/
	background: #fff;
}

.mobj .qr-img img{
	width: 68px;
	height: 68px;
}

.mobj-con{
	/*display: none;*/
	position: absolute;
	top: 30px;
	left: 0;
	z-index: 10;
	/*width: 280px;*/
	/*height: 500px;*/
	/*background: #fff;*/
}