*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0px;
	background: #f0f3ef;
	font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    color: #666;
}

a{
	text-decoration: none;
	color: #666;
}

a:hover{
	color: #E32F2F;
}

ul, li{
	list-style: none;
}

.cls::after{
	content: "";
	display: block;
	clear: both;
}

@font-face {
  font-family: 'iconfont';  /* project id 845280 */
  src: url('//at.alicdn.com/t/font_845280_sre9zvuu9c.eot');
  src: url('//at.alicdn.com/t/font_845280_sre9zvuu9c.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_845280_sre9zvuu9c.woff') format('woff'),
  url('//at.alicdn.com/t/font_845280_sre9zvuu9c.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_845280_sre9zvuu9c.svg#iconfont') format('svg');
}

.iconfont{
	font-family: iconfont;
}
