.toolbar-in{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9990;
	width: 0px;
	height: 100%;
}

.right-bar{
	position: absolute;
	top: 0;
	right: 0;
	width: 6px;
	height: 100%;
	background: #7a6e6e;
}

.toolbar .tools{
	position: absolute;
	right: 0;
	top: 50%;
	width: 35px;
	/*height: 256px;*/
	margin-top: -80px;
	/*background: #7a6e6e;*/
	/*background: red;*/
}

.toolbar .tools>div, .toolbar .to-top{
	position: relative;
	width: 35px;
	height: 35px;
	margin-bottom: 1px;
	cursor: pointer;
	/*background: #7A6E6E;*/
	border-radius: 3px 0 0 3px;
	transition: all 2s;
}




.toolbar .tools>div i{
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	width: 34px;
	height: 35px;
	background-image: url(../img/toolbar.png);
	background-color: #7A6E6E;
}

.toolbar .jvip i{
	background-position: -88px -175px;
}

.toolbar .spcast i{
	background-position: -50px 0;
}

.toolbar .myfocus i{
	background-position: -50px -50px;
}

.toolbar .myfpt i{
	background-position: -50px -100px;
}

.toolbar .mynews i{
	background-position: -190px -150px;
}

.toolbar .consult i{
	background-position: -50px -150px;
}

.toolbar .fdbk i{
	background-position: -50px -300px;
}


.toolbar .tools>div div:first-child, .back-top .top-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 35px;
	height: 35px;
	line-height: 35px;
	border-radius: 3px 0 0 3px;
	background: goldenrod;
	background: #7A6E6E;
	z-index: 10;
}

.toolbar .hide-item{
	position: absolute;
	top: 0;
	right: -29px;
	z-index: 1;
	width: 62px;
	height: 35px;
	border-radius: 3px 0 0 3px;
	line-height: 35px;
	color: #fff;
	text-align: center;
	background: #7A6E6E;
	transition: transform 0.4s ease 0.2s;
}

.toolbar .tools>div:hover>div:nth-child(n) i{
	transition: all 0.2s;
	background-color: #c81623;
}

.toolbar .tools>div:hover .hide-item{
	/*transition: transform 0.4s ease 0.2s;*/
	background: #c81623;
	transform: translateX(-62px);
}

.toolbar .to-top:hover .top-img i{
	transition: all 0.2s;
	background-color: #c81623;
}

.toolbar .to-top:hover .hide-item{
	background: #c81623;
	transition: transform 0.4s ease 0.2s;
	transform: translateX(-62px);
}

.toolbar .back-top{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	width: 35px;
	height: 35px;
	background: red;
}

.toolbar .to-top{
	position: relative;
}

.toolbar .top-img{
	
}

.toolbar .top-img i{
	background-repeat: no-repeat;
	background-position: -50px -250px;
	position: absolute;
	/*right: 100px;*/
	display: block;
	width: 34px;
	height: 35px;
	/*z-index: 1;*/
	background-image: url(../img/toolbar.png);
	background-color: #7A6E6E;
}
